# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv("../WeatherPy/output_data/cities.csv")
df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,umm kaddadah,SD,13.60,26.69,65.89,20,18,10.51,1584329105
1,cap malheureux,MU,-19.98,57.61,75.99,94,75,2.24,1584329218
2,rikitea,PF,-23.12,-134.97,79.63,79,3,12.71,1584329206
3,leningradskiy,RU,69.38,178.42,13.60,73,0,4.23,1584329218
4,yellowknife,CA,62.46,-114.35,10.40,66,20,18.34,1584328948
...,...,...,...,...,...,...,...,...,...
557,rocha,UY,-34.48,-54.33,53.87,91,26,2.37,1584329008
558,vila franca do campo,PT,37.72,-25.43,50.00,76,20,2.24,1584329279
559,kabo,CF,7.70,18.63,76.77,15,81,4.47,1584329474
560,manavalakurichi,IN,8.13,77.30,84.20,66,20,4.70,1584329475
561,okahandja,NaN,-21.98,16.92,68.00,60,0,3.36,1584329475

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
gmaps.configure(api_key=g_key)

locations = df[['Lat','Lng']]
humidity = df['Humidity'].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius = 5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
nice_weather = df.loc[(df['Max Temp'] < 80) & (df['Max Temp'] > 70) & (df['Wind Speed'] < 10) & (df['Cloudiness'] == 0)]
nice_weather.dropna(how='any', inplace=True)
nice_weather

C:\Users\sscot\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
39,mount gambier,AU,-37.83,140.77,73.40,35,0,9.17,1584329281
521,iquique,CL,-20.22,-70.14,71.60,64,0,8.05,1584329469
536,itapirapua,BR,-15.82,-50.61,70.92,92,0,2.33,1584329471

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = nice_weather

In [6]:
hotel_df['Hotel Name'] = ""
hotel_df

C:\Users\sscot\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
39,mount gambier,AU,-37.83,140.77,73.40,35,0,9.17,1584329281,
521,iquique,CL,-20.22,-70.14,71.60,64,0,8.05,1584329469,
536,itapirapua,BR,-15.82,-50.61,70.92,92,0,2.33,1584329471,

In [24]:
for index, row in hotel_df.iterrows():
    #geocoordinates
    target_coordinates = f"{row['Lat']},{row['Lng']}"
    target_search = "Hotel"
    target_radius = 5000
    target_type = "hotel"

    #set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    #base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #run a request using our params dictionary
    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    hotel_df.loc[index, 'Hotel Name'] = hotel_data['results'][0]['name']

In [25]:
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
39,mount gambier,AU,-37.83,140.77,73.40,35,0,9.17,1584329281,Commodore on the Park
521,iquique,CL,-20.22,-70.14,71.60,64,0,8.05,1584329469,Hotel Terrado Cavancha
536,itapirapua,BR,-15.82,-50.61,70.92,92,0,2.33,1584329471,Hotel Nossa Senhora Aparecida

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [36]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))